@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/


/*フォント*/
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');


/*ページ*/
#body
{
    margin:0;
    background-color: rgb(33, 33, 33);  
}


/*メインコンテンツ*/
#mainContents
{
    position: initial;
}

.backgroundimage
{
    background-color: rgb(24, 24, 24);    

}

.mainContents_container
{
    display: flex;
    padding-top: 55px;
    display: -webkit-flex;
}



/*レフトコンテンツ*/
.mainContents_container_left
{
    width: 12.5%;
    height: 1500px;
    color: white;
}



/*中央コンテンツ*/
.mainContents_container_center
{
    width: 87.5%;
    background-color: rgb(33, 33, 33);
    color: white;
}

.formfield_h1
{
    margin-left: 10px;
}

.error_messase
{
    color: red;
}


.formfield_inputfield_form > div
{
    margin-top: 10px;
    margin-left: 30px;
}

.input_movie_url,.bool_vc_input,.bool_guide_input,.bool_clear_input,.bool_act_input,.play_job,.contents,.string_guide_input,.language_input
{
    display: flex;
}

.tank
{
    background-color: rgb(154, 154, 255);
}

.dps{
    background-color: rgb(255, 152, 152);
}

.healer
{
    background-color: rgb(166, 255, 158);
}


/* スクロールバー */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgb(24, 24, 24);    
  }
   
  ::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    border-radius: 5px;
  }


.displaynone{
    display: none;
}





}/*ウィンドウ幅が767px以上の場合に適用*/



@media screen and (max-width : 599px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/

    #pop{
        display: none;
    }


}/*ウィンドウ幅が最大479pxまでの場合に適用*/